body {
    background-color: #D92323;
    margin: 0;
    height: 100vh;
}

.content-wrapper {
    width: 960px;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.header-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D92323;
    height: 120px;
    width: 100vw;
    z-index: 1000;
    top: 0;
}


.header-bar {
    width: 960px;
    min-height: 50px;
    border: solid 4px #0D0D0D;
    background-color: #fefefe;
    color: #0D0D0D;
    transform: skew(-10deg);
    padding: 2px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    flex-wrap: wrap;
}

.header-bar-title {
    border: solid 2px #fefefe;
    background-color: #0D0D0D;
    color: #fefefe;
    width: 90%;
    height: 100%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}

.header-bar-options {
    border: solid 2px #fefefe;
    background-color: #0D0D0D;
    color: #fefefe;
    width: 10%;
    height: 100%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.bi-gear-fill {
    font-size: 36px;
    color: #fefefe;
    text-decoration: none;
}

.bi-gear-fill:hover {
    color: #fefefe;
    text-decoration: none;
}

.message-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 120px;
}

.user-message {
    align-self: flex-end;
    border: solid 4px #0D0D0D;
    background-color: #fefefe;
    color: #0D0D0D;
    transform: skew(5deg);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    max-width: 45%;
    text-align: justify;
}

.user-message-content {
    padding: 5px;
}

.message-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.group-message {
    align-self: flex-end;
    border: solid 4px #fefefe;
    background-color: #0D0D0D;
    color: #fefefe;
    transform: skew(-5deg);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    max-width: 45%;
    text-align: justify;
}

.group-message-content {
    padding: 5px;
}

.group-message {
    align-self: flex-start;
}

.input-wrapper {
    position: fixed;
    background-color: #D92323;
    height: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-bar {
    width: 960px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    border: solid 2px #0D0D0D;
    min-width: 960px;
}

textarea {
    width: 100%;
    border: 0;
    font-size: 18px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    padding-top: 8px;
    outline: none;
    resize: none;
    overflow: hidden;
}


button {
    width: 5%;
    background-color: white;
    border: 0;
}

button:hover {
    background-color: #D92323;
}
