body {
    background-color: #D92323;
    margin: 0;
    height: 100vh;
}

.content-wrapper {
    height: 95vh;
    display: flex;
    justify-content: center;
}

.settings-box {
    width: 700px;
    height: 700px;
    min-height: 500px;
    min-width: 500px;
    margin: auto;
    background-color: #fefefe;
    border: 5px solid #0D0D0D;
    transform: skew(-10deg);
    align-content: center;
}

.title {
    font-size: 100px;
    font-weight: bold;
    color: #0D0D0D;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    transform: skew(10deg);
}

.sub-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
}

.member-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: skew(10deg);
}

.user-input {
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 12px;
}

#invite-button {
    width: 160px;
    padding: 12px 20px;
    border: solid 2px #fefefe;
    background-color: #0D0D0D;
    color: #fefefe;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 5px;
}

#friend-invite-button {
    width: 160px;
    padding: 12px 20px;
    border: solid 2px #0D0D0D;
    background-color: #fefefe;
    color: #0D0D0D;
    border-radius: 6px;
    cursor: pointer;
}

.error-box {
    margin-bottom: 10px;
}

.back-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#back-button {
    width: 160px;
    padding: 12px 20px;
    border: solid 2px #fefefe;
    background-color: #0D0D0D;
    color: #fefefe;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 5px;
    height: 43px;
    transform: skew(10deg);
}

#leave-button {
    width: 160px;
    padding: 12px 20px;
    border: solid 2px #fefefe;
    background-color: #0D0D0D;
    color: #fefefe;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 5px;
    height: 43px;
}

#delete-button {
    width: 160px;
    padding: 12px 20px;
    border: solid 2px #fefefe;
    background-color: #0D0D0D;
    color: #fefefe;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 5px;
    height: 43px;
}
