<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Import Required JS Modules -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

        <!-- Load Javascript for page -->
        <script src="/javascript/app/friends-page.js"></script>
        <script src="/javascript/auth/logout.js"></script>
        <script src="/javascript/app/alerts.js"></script>

        <!-- Load CSS for page -->
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/alert.css">

        <title>Friends</title>

    </head>
    <body>

        <script>
            const USER_ID = '<%= id %>'
        </script>

        <div class="content-wrapper">

            <div class="menu-wrapper">
                <div class="menu-bar">
                    <a href="/app/groups" class="menu-bar-widget" id="groups-button">
                        Groups
                        <div id="group-alert-counter" class="alert-counter no-alerts">0</div>
                    </a>
                    <a href="/app/friends" class="menu-bar-widget" id="friends-button">
                        Friends
                        <div id="friend-alert-counter" class="alert-counter no-alerts">0</div>
                    </a>
                    <a href="/app/notifications" class="menu-bar-widget" id="requests-button">
                        Notifications
                        <div class="alert-counter no-alerts">0</div>
                    </a>
                    <a href="/app/account" class="menu-bar-widget" id="account-button">
                        Account
                    </a>
                    <div class="menu-bar-widget" id="logout-button">
                        Logout
                    </div>
                </div>
            </div>

            <div class="content">

                <% for(i=0; i<friends.length; i++) { %>
                    <% for(x=0; x<friends[i].friends.length; x++) { %>
                        <% if(friends[i].friends[x].friend == id) { %>
                            <a href="/chat/direct/<%= friends[i].friends[x].dm_id %>" class="chat-group">
                        <% } %>
                    <% } %>
                        <div class="chat-content">
                            <h2 class="group-title">
                                <%= friends[i].username %>
                            </h2>
                            <div id="<%= friends[i]._id %>-alert-counter" class="alert-counter no-alerts">
                                0
                            </div>
                        </div>
                    </a>
                <% } %>
    
                <a href="/app/friends/invitefriend" class="create-wrapper">
                    <div class="create-content">
                        <h2 class="create-title">
                            Add New Friend +
                        </h2>
                    </div>
                </a>

            </div>
        </div>

    </body>
</html>