<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import Required JS Modules -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

    <!-- Load Javascript for page -->
    <script src="/javascript/app/groups-create.js"></script>
    <script src="/javascript/app/alerts.js"></script>

    <!-- Load CSS for page -->
    <link rel="stylesheet" href="/css/create.css">
    <link rel="stylesheet" href="/css/alert.css">

    <title>Create Group</title>

</head>
<body>

    <script>
        const USER_ID = '<%= user_id %>'
    </script>

    <div class="alert-wrapper"></div>

    <div class="content-wrapper">
        <div class="create-box">

            <h1 class="title">Create Group</h1>

            <div class="create-content">

                <h3 class="sub-title">Group Name:</h3>
                <input id="create-group" class="user-input" type="text" placeholder="Group Name">

                <div class="error-box" id="group-error-box"></div>

                <input id="create-button" type="submit" value="Create Group">

            </div>

            <div class="back-wrapper">
                <button id="back-button">Back to groups!</button>
            </div>

        </div>
    </div>
    
</body>
</html>